nav.nav-bar ul.nav-bar__linklist.list--unstyled li:nth-child(9) {background-color: #ff6128;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li:nth-child(10) {background-color: #ee0000;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li {margin: 0px;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li a {padding: 0px 6px;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li {margin-right: 4px;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li:nth-child(9) a, nav.nav-bar ul.nav-bar__linklist.list--unstyled li:nth-child(10) a{color: #fff}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown {width: auto;position: fixed;top: 196px;left: 80px;transform: inherit;min-width: 82%; justify-content: space-between; list-style: none; line-height: 14px}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown .nav-dropdown {position: relative; flex-direction: column;transform: inherit;    width: auto;    background-color: #fff;    padding: 0px;    opacity: 9 !important;visibility: visible; z-index: 99999; left: auto; top: auto}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown li {background-color: #fff;margin: 0px;border-right: 3px solid #c1c1c1; width: 100%; padding-bottom: 30px;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown {display: flex;background-color: #1e2d7d;padding: 10px 10px 40px;border: 0px;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown .nav-dropdown svg {display: none;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown li ul li {border: 0px;width: 100% !important; padding-bottom: 15px !important; list-style: none}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown li a.nav-dropdown__link.link {font-size: 20px;font-weight: bold;color: #1e2d7d;    padding: 20px 15px 30px;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown li ul li a {font-size: 14px !important;font-weight: 500 !important;color: #677279!important;letter-spacing: 0px !important;  padding: 0px 15px !important;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown li:last-child {border: 0;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown li a svg {display: none;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li:hover ul {visibility: visible !important;opacity: 9 !important; z-index: 9999999}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown li ul li a:hover{color: #1e2d7d !important;}
nav.nav-bar.scroll_menu ul.nav-bar__linklist.list--unstyled li.nav-bar__item .nav-dropdown {top: 196px;}
.nav-dropdown .icon--nav-triangle-left {display: none;}
.cstm_details {display: flex;align-items: start;border: 1px solid #c1c1c1;}
.cstm_details .table-wrapper {width: 50%;margin: 0px 5px;}
.cstm_details .table-wrapper table tr {background-color: #f3f5f6;margin-bottom: 6px;display: flex;justify-content: space-between;padding: 5px 10px;border: 0;}
.cstm_details .table-wrapper table tr td {color: #000;font-size: 16px;}
.cstm_details .table-wrapper table tr td:first-child {font-weight: bold;}
.cstm_details .table-wrapper table {margin-top: 6px;}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li:hover {background-color: #1e2d7d;color: #fff !important;}
.product-form__info-list {display: block;}
.paypal_cont {margin: 0px !important;}

.product-form.cst .cst_add {
    padding: 7px 45px;
}
/* form.product-form.cst {
    position: absolute;
    bottom: 30px;
    right: 60px;
} */
.product-form.cst img {
    position: absolute;
    width: 30px;
    left: 40%;
    top: 10px;
}

.card__section .btn_conts {
    display: grid;
}
.card__section .btn_conts .adp-vol-wrapper {
    order: 2;
}
.card__section form.product-form {
    order: 1;
}
.card__section form.product-form.cst {
    order: 2;
}
.card__section form.product-form.cst {
    order: 2;
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -234px !important;
}
.template-index .card__section form.product-form.cst {
    order: 2;
    float: left;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: auto;
    top: -22px;
    align-items: center;
    margin-top: 52px !important;
}
.template-index .card__section form.product-form.cst button#add-free-sample {
    width: 48.5%;
}
.template-index .product-form.cst img {
    left: 40%;
}
.product-form__payment-container {
    position: relative;
    width: 50%;
}
.product-form__payment-container button.product-form__add-button.button.button--primary {
    width: 92%;
}
.card__section .btn_conts .product-form.cst input {
    padding: 12px 40px;
}
.card__section .btn_conts .product-form.cst {
    position: relative;
    float: right;
    margin-top: -47px;
}
.template-index .card__section .btn_conts .product-form.cst {
    position: absolute;
    bottom: 104PX;
    right: 14%;
}
.btn_conts {
    position: relative;
}
.shopify-payment-button {
    width: 90%;
}
.tabs.tabs_custom {
    width: 100%;
}
.tabs.tabs_custom ul {
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    margin-bottom: 24px;
    width: 100%;
    list-style: none;
}
.tabs.tabs_custom ul li {
    color: #b4b4b4;
    cursor: pointer;
    font-weight: 600;
    margin-right: 16px;
    padding-bottom: 8px;
}
.tabs.tabs_custom ul li.tab-active {
    color: #212a2f;
    font-weight: 600;
}
.tabs.tabs_custom ul li.tab-active:after {
    background-color: #212a2f;
    content: " ";
    display: block;
    height: 2px;
    position: relative;
    top: 10px;
    width: 100%;
}
.tabs.tabs_custom .custom_tabing div {display: flex !important;}
.tabs.tabs_custom .custom_tabing .square_section {width: 100%;padding-top: 0px !important;padding-bottom: 30px;}
.tabs.tabs_custom .custom_tabing .square_section .new_class {width: 100%;flex-direction: column;justify-content: space-evenly;align-items: baseline;}
.tabs.tabs_custom .custom_tabing .square_section .new_class input {margin: 0px !important;width: 100% !important;border: 1px solid #000 !important;border-radius: 7px;}
.tabs.tabs_custom .custom_tabing .square_section span {   margin-top: 0;
    position: absolute;
    left: 58px;
    top: 25px;}
.tabs.tabs_custom .custom_tabing .product-form__info-item.product-form__info-item--quantity {flex-direction: column;padding-bottom: 30px;}
.tabs.tabs_custom .custom_tabing .quantity-selector.quantity-selector--product {width: 50%;justify-content: space-between;}

.tabs.tabs_custom .custom_tabing .square_section p span.tile_nu {
    position: static;
}
nav.nav-bar ul.nav-bar__linklist.list--unstyled li:last-child {
    margin-right: 0px !important;
}
.card__section form.product-form .product-form__payment-container {
	width: 100%;
	margin: 0;
}
.card__section form.product-form .product-form__payment-container .product-form__add-button {
	width: 100%;
	background: transparent;
	padding: 0;
	display: flex;
	color: #000;
	align-items: center;
	margin: 0;
	border: 2px solid #ccc;
	justify-content: center;
	gap: 10px;
	font-size: 18px;
}
.card__section form.product-form .product-form__payment-container .product-form__add-button .insider {
	display: none;
}
.card__section form.product-form .product-form__payment-container .line-item-property__field {
	display: none;
}

.card__section form.product-form .product-form__payment-container .product-form__add-button img {
	max-width: 32px;
}	
.card__section form.product-form .product-form.cst {
	width: 100%;
	margin: 15px 0 !important;
	float: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	border: 2px solid #ccc;
	padding: 8px 10px;
}
.card__section form.product-form .product-form.cst .upper_image {
	   width: auto;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
}
.card__section form.product-form .product-form.cst {
    padding: 0px;
}
.card__section form.product-form .product-form.cst #add-free-sample {
    display: table;
    border: none!important;
    background: transparent;
    padding: 15px 0px;
    font-size: 18px;
    color: #000!important;
    width: 100% !important;
    margin: 0!important;
}
.card__section form.product-form .product-form.cst .upper_image img {
	position: static;
	width: 100%;
	max-width: 32px;
}
.product-form__info-list .custom_product_calculation {
	padding-bottom: 15px;
}
.template-index .card__section .btn_conts .product-form.cst {
	position: static !important;
}
.template-index .card__section form.product-form .product-form__payment-container .shopify-payment-button {
	width: 100%;
	margin: 15px 0 0 0;
}
.template-index .card__section form.product-form .product-form__payment-container .shopify-payment-button .shopify-payment-button__button {
	font-size: 18px !important;
}
.mini-cart {
    display: none;
}
.mini-cart[aria-hidden=false]{
    display: block;
}
.new_sale p {
    background-color: #0372bb;
    position: absolute;
    top: 10px;
    z-index: 9999;
    right: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    font-weight:800;
    color: #fff;
    justify-content: center;
    font-family: var(--text-font-family);
}
.new_sale p span {
    font-size: 16px;
    line-height: 24px;
}
.new_sale p:after {
    height: 62px;
    width: 63px;
    position: absolute;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%,-50%);
}
/****************02-11-2023***************/
.custom_product_calculation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items:flex-start;
    flex-wrap: wrap
}
.custom_product_calculation .square_section {
    width: 50%;
    padding-top: 30px;
}
.custom_product_calculation label.product-form__info-title {
    font-weight: 400;
    font-size: 12px;
}
.custom_product_calculation .quantity-selector.quantity-selector--product {
    border: 1px solid #000;
}
.custom_product_calculation .quantity-selector--product .quantity-selector__button {
    padding: 0 8px;
}
.custom_product_calculation .new_class {
    display: flex;
    align-items: center;
    justify-content: flex-end
}
.custom_product_calculation .new_class label {
    width: auto;
    font-size: 12px;
}
.new_class input#squareMetre {
    width: 44%;
    border: 1px solid #c5c5c5;
    height: 41px;
    padding: 0 10px;
    margin-left: 9px;
  color: #000;
}
.new_class1 {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 100%;
    justify-content:flex-end;
}
.new_class1 input#actualPrice {
       font-size: 20px!important;
    text-align: end;
    width: 39%;
}
.product-form__info-content input {
    border: 0px !important;
}
.custom_product_calculation .square_custom span.my-suffix {
    font-size: 14px;
    margin: 0px 0px 0px 3px;
}

.custom_product_calculation input#actualPrice {
    border: 0;
    font-size: 15px;
}
.sign_custom {
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  position:relative
}
.custom_product_calculation .new_class {
    position: relative;
}
.custom_product_calculation .new_class span.my-suffix {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    position: absolute;
    right: 10px;
}
button.decrease.quantity-selector__button.intro {
    opacity: .2;
    pointer-events: none !important;
}
.new_class1 label {
    font-size: 20px;
    color: #e00;
    font-weight: bold;
    width: 80%
}
input#actualPrice {
    pointer-events: none;
}
.price_square span {
    color: #fff;
    font-size: 12px;
}
.price_square {
    background-color: #ff6128;
    padding: 3px 11px;
}
.price_square span.price.price--compare {
    font-size: 22px;
    text-decoration-color: #fff;
}
.product-item .product-item__price-list.price-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-item .product-form.cst.collect input#add-free-sample {
    padding: 7px 0px;
    margin-top: 10px;
    font-size: 14px;
    width: 100%;
}
.product-item .product-item__info-inner a {
    text-align: center;
}
.product-item--vertical .product-item__info form.product-item__action-list.button-stack a button {
    background-color: #3070b7;
    color: #fff;
    width: 97%;
    margin: auto;
    display: block;
    padding: 3px 8px;
  margin-top: 10px;
    margin-bottom: 10px;
}
.product-item__price-list .price{    text-decoration: inherit;}
.product-item__price-list .price span.save_amount {
    line-height: 40px;
}
.product-item--vertical .product-item__action-list {
    margin: 0px -5px -5px !important;
}


.product-item .product-item__price-list.price-list span.price.price--highlight span {
    margin: 0px 6px;
}
.product-item__price-list .price span {
    margin: 0px 4px;
}
.product-form__payment-container button.product-form__add-button.button.button--disabled {
    padding: 0px;
}
.product-form__info-item {
    display: flex;
    flex-direction: column;
}

.product-form__info-item .price-list span.price.price--compare {
  margin: 0px 0;
    font-size: 16px;
   
}
.product-form .price--compare {
    top: 0px;
}
.product-form__info-content .price-list {
    align-items: center;
}
.related-product2 {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
}
.related-product2 h2.block_custom {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    color: #000;
    margin-bottom: 0px;
    font-weight: bold;
}
.related-product2 img {
    margin: 10px 0px;
}
.mini-cart.another_cart_custom form#mini-cart {
    visibility: visible;
    opacity: 9 ;
}
.mini-cart.another_cart_custom {
    visibility: visible !important;
    opacity: 1;
    transform: scale(1);
    transition: opacity .4s cubic-bezier(0,1,.4,1),transform .4s cubic-bezier(.18,1.25,.4,1),visibility .4s linear;
    z-index: 9999;
}
.mini-cart__button-container .button-group.button-group--loose {
    align-items: center;
}
.mini-cart__button-container button.button.button--primary {
    padding: 0px 11px;
}
.sign_custom span.vat {
    margin-left: 8px;
    font-size: 17px;
    margin-top: 5px;
}
.sign_custom input {
    font-weight: 750;
    color: black;
}
.product-form__info-content .price-list span.price.price--highlight {
    color: #000;
}
.product-form__info-item .price-list span.price.price--compare, .product-form__info-item .price-list span.save_amount {
    color: #cf0e0e;
    text-decoration-color: #cf0e0e;
}
.product-item .product-item__price-list.price-list span.price.price--highlight {
    color: #000;
}
.product-item .product-item__price-list.price-list span.price.price--compare {
    color: #cf0e0e;
    text-decoration-color: #cf0e0e;
}
.product-item .product-item__label-list span.product-label.product-label--on-sale {
   background-color: #ee0000;
    position: absolute;
    z-index: 9999;
    left: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 9px;
    color: #fff;
    justify-content: center;
    font-family: var(--text-font-family);
}
.product-item .product-item__label-list span.product-label.product-label--on-sale p {
    font-size: 20px;
    line-height: 24px;
}
.product-item .product-item__label-list span.product-label.product-label--on-sale:after {
    height: 62px;
    width: 63px;
    position: absolute;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    content: "";
    transform: translate(-50%, -50%);
}
.product-block-list__item--gallery .product-item__label-list span p {
    font-size: 20px;
}
.product-block-list__item--gallery .product-item__label-list span {
    background-color: #e00;
    position: absolute;
    z-index: 9999;
    top: -10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 9px;
    color: #fff;
    justify-content: center;
    font-family: var(--text-font-family);
}
.product-block-list__item--gallery .product-item__label-list span:after {
    height: 62px;
    width: 63px;
    position: absolute;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    content: "";
    transform: translate(-50%, -50%);
}
.product-block-list .product-block-list__wrapper .product-block-list__item.product-block-list__item--gallery {
	position: relative;
}
.product-block-list__item--gallery .new_sale p {  top: 0px; z-index: 1;right: 0px; }
.product-form.cst.second .upper_image {
    left: 16% !important;
}
span.low-inventory, span.inventory--low {
    position: relative;
    padding-left: 16px;
    color: #616161;
    font-weight: 700;
    font-size: 15px;
}
span.inventory_full {
    position: relative;
    padding-left: 16px;
    color: #14950d;
    font-weight: 700;
    font-size: 15px;
}
span.inventory--low{
      color: rgb(207, 14, 14);
}
span.low-inventory:before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    left: 0;
    top: 0.45em;
    border-radius: 100%;
    background: currentColor;
}
span.inventory_full:before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    left: 0;
    top: .45em;
    border-radius: 100%;
    background: #14950d;
}
.rev_quat {
    margin-top: 10px;
}
.inventory-count span.inventory--low {
    font-weight: 700;
}
.inventory-count span.inventory--low:before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    left: 0;
    top: 0.45em;
    border-radius: 100%;
    background: rgb(207, 14, 14);
}

.product-info_badgec span.badge.badge--primary {
    background-color: #000;
    color: #fff;
    padding: 3px 10px;
}
section.offe_custom.section .offer-item__content.rte p {
    font-size: 26px;
   font-weight: 700;
}
section.offe_custom.section p.offer-item__title.heading.h4 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
section.offe_custom.section {
    padding: 50px 0px;
    background-color: #3070b7;
      margin-bottom: 0;
}
section.offe_custom.section .block-list__item.\31 \/3--lap-and-up .offer-item {
    background: transparent;
    border: none;
 
}
section.offe_custom.section .block-list__item.\31 \/3--lap-and-up .offer-item {
    background: transparent;
    border: none;
    text-align: center;
    justify-content: center;
    color: #fff;
}
section.offers_explain.section .offer-item__image-wrapper {
    min-width: 100%;
}
section.offers_explain.section p.offer-item__title.heading.h4 {
    font-size: 34px;
    color: #fff;
    line-height: 40px;
}
section.offers_explain.section .offer-item__content.rte {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
section.offers_explain.section {
    background-color: #3070b7;
  padding-bottom: 84px;
}
section.offers_explain.section .offer-item {
    background: transparent;
    border: none;
   padding:0px 10px;
    margin: 0;
}
.suitable-for-section h2 {
    font-size: 36px;
}
.restock_date {
    position: absolute;
    right: 0;
}
.restock_date p{
    color: #0372bb;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}
.new_sale.preorder p {
    height: 45px;
    width: 86%;
  font-size: 16px;
}
.new_sale.preorder p:after {
    width: 98%;
    height: 38px;
}
p.free_stand {
    font-size: 16px;
    background-color: #35ad35;
    font-weight: 500;
    padding: 5px 5px 5px 18px;
    width: 245px;
    color: #fff;
    margin: 15px 0px 10px;
}

/******************Reponsive*****************/
@media screen and (max-width:991px){
.mobile-menu__section ul.mobile-menu__nav li a, .mobile-menu__section ul.mobile-menu__nav li button{
    padding: 0px 10px;
        margin-bottom: 10px;
}
.mobile-menu__section ul.mobile-menu__nav li:nth-child(8) a {
    background-color: #ff6128;
    color: #fff;
}    
.mobile-menu__section ul.mobile-menu__nav li a {
    padding: 0px 10px;
}
.mobile-menu__section ul.mobile-menu__nav li:nth-child(9) a {
    background-color: #ee0000;
    color: #fff;
}
  .product-form__payment-container {
    position: relative;
    z-index: auto;
    width: 100%;
}
.product-form__payment-container button.product-form__add-button.button.button--primary {
    width: 100%;
}
}

@media screen and (max-width:641px){
	
.mini-cart{
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px 2px;
  display: table;
  }	
	.product-form.cst.second .upper_image {
    left: 6%!important;
}
  .new_sale.preorder p {
    font-size: 13px;
    width: 78%;
    right: 21px !important;
}
}	
@media screen and (max-width:567px){
  .product-block-list__item--gallery .product-item__label-list span{top:8px;}
   .product-block-list__item--gallery .new_sale p {  top: 20px;  right: 0px;}
.cstm_details .table-wrapper {width: 100%;    margin: auto;}    
.cstm_details {flex-direction: column;}    
.cstm_details .table-wrapper table {margin-top: 0;}    
 #add-free-sample {
    width: 100%;
    margin-top: 20px;
}   
.product-meta__share-buttons {
    margin-top: 80px;
}    
.card__section form.product-form.cst {
    order: 2;
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 110px;
    top: -300px !important;
}
  .template-index .card__section form.product-form.cst button#add-free-sample {
    width: 98%;
    position: relative;
    top: auto;
}
  .product-form.cst img {
    left: 50% !important;
    top: 28px;
    z-index: 9999;
}
  .template-index .card__section form.product-form.cst {
    margin-top: 54% !important;
}
  .card__section .btn_conts .product-form.cst {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-top: 0!important;
}
.template-index .card__section .btn_conts .product-form.cst {
    position: absolute;
    bottom: 58px;
    right: auto;
    width: 100%
}
  .shopify-payment-button {
    width: 100%;
}
    .custom_product_calculation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .custom_product_calculation .new_class {
    justify-content: center;
}
    .custom_product_calculation .product-form__info-item.product-form__info-item--quantity {
    width: 100%;
}
.custom_product_calculation .square_section {
    width: 100%;
    padding-top: 0px;
}
.new_class input#squareMetre {
    width: 72%;
}
.new_class1 label {

    width: 80%;
} 
.custom_product_calculation input#actualPrice {
    width: 46%;
}
 .mini-cart__button-container button.button.button--primary {
    line-height: 22px;
       font-size: 14px;
}   
.product-form__info-content .price-list {
    flex-wrap: wrap;
    margin-bottom: 10px;
    line-height: 20px;
}
.product-form__info-content .price-list span {
    margin-right: 4px !important;
}
.product-form__info-content .price-list span.price.price--highlight {
    font-size: 19px;
}    
  p.free_stand {
    padding: 5px 5px 5px 25x;
    margin: 15px 0 15px;
}  
}

@media screen and (max-width:375px){
.card__section .btn_conts {
    display: flow;
}
  .card__section form.product-form.cst, .template-index .card__section form.product-form.cst {
    order: 2;
    float: right;
    width: 87%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 70px;
    top: auto;
}
      .product-form__info-content .price-list span.price.price--highlight {
        font-size: 17px;
    }
}